.grid-container {
	display: grid;
	grid-template: 150px / auto auto auto;
	grid-gap: 10px;
	background-color: #585c5f;
	font-family: 'Times New Roman', Times, serif;
	padding: 10px;
  }
  
  .hdr{
	grid-column: 1/4;
	float: center;
	text-align: center;
	padding: 2fr;
	font-size: 20px;
	background: transparent url(http://csszengarden.com/001/h1.gif) no-repeat top left;
	margin-bottom: 2fr;
	border-style: groove;
	color: rgb(201, 173, 173);
	background-color: rgb(78, 82, 124);
  }
  .menu li{
	display:inline-block;
	padding: 10px;
	list-style-type: none;
  }
.left-side{
	grid-column: 1/2;
	float: left;
	padding: 50px 0px 0px 0px;
	width: 200px;
	margin:10px;
}
.content {
	grid-column: 2/3;
	clear: both; 
	padding: 50px;
	float: left;
}
h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #e9e1c1;
	}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color:rgb(14, 56, 56);
	}
	a:hover{
		color: red;
	}
.right-side{
	grid-column: 3/4;
	width: 200px;
	padding: 3fr;
	margin:10px;
	border-style: groove;
	top: 0; 
	right: 0;
}
.footer{
	grid-column: 1/4;
	margin:20px;
	text-align: center;
	clear: both;
	padding: 0.5em 10%;
	background-color: #7cddac;
	font-size: 16px;
}