# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\ACEDAMIA\3-MSC_MIU\COURSES\WAP\WAP-Labs\wondimuk.github.io\Lab11_Servlet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
